<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Portfolio

	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/portfolio.css")

body
	
	header(class="header")
		nav.nav
			ul.miul
				li.list.select
					| Inicio
				li.list
					| Nosotros
				li.list
					| Habilidades
				li.list
					| Portfolio
				li.list
					| Contacto